<h1>Home Page</h1>
<p>Validation Demo</p>
<div>
    <form method="post">
        <h2>Register</h2>
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="repeat" placeholder="Repeat password" required>
        <button type="submit">Submit</button>
</div>