<h1>Home Page</div>
<p>Welcome to home page!</p>
<a href="/set">Set Cookie</a>
<a href="/get">Cookie reader</a>
<div>
    <a href="/use-light">Light Theme</a>
    <a href="/use-dark">Dark Theme</a>
</div>
<div>
    <a href="/set-session">Set Session</a>
    <a href="/get-session">Get Session</a>
</div>